################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/node_modules/
/node_modules/
/SOURCECODE/WebApp/src/node_modules
/SOURCECODE/WebApp/src/dist
/SOURCECODE/WebApp/src/.vscode

/SOURCECODE/.vs/TVGlobo.ArquiteturaBase/v15/Server/sqlite3
/SOURCECODE/.vs/config
/SOURCECODE/TVGlobo.Arquitetura.Entities/obj/Debug
/SOURCECODE/Utilitarios/obj/Debug
/SOURCECODE/WebAPI/bin
/SOURCECODE/WebAPI/obj/Debug
/SOURCECODE/WebApp/bin
/SOURCECODE/WebApp/obj/Debug
/SOURCECODE/WebAPI/test/TvGlobo.Star.WebApi.UnitTests/bin/Debug
/SOURCECODE/WebAPI/test/TvGlobo.Star.WebApi.UnitTests/obj/Debug
/SOURCECODE/TVGlobo.STAR.Services/bin/Debug
/SOURCECODE/TVGlobo.STAR.Services/obj/Debug
/SOURCECODE/TvGlobo.STAR.ExternalService/obj/Debug
/SOURCECODE/TvGlobo.STAR.ExternalService/bin/Debug
/SOURCECODE/TvGlobo.Arquitetura.Entities/obj/Debug
/SOURCECODE/TvGlobo.Arquitetura.Entities/bin/Debug
/SOURCECODE/TVGlobo.STAR.Repositories/bin/Debug
/SOURCECODE/TVGlobo.STAR.Repositories/obj/Debug
/SOURCECODE/TVGlobo.STAR.Repositories/obj/Debug/TVGlobo.STAR.Repositories.csproj.FileListAbsolute.txt
*.cache
/SOURCECODE/WebAPI/TVGlobo.ArquiteturaBase.WebAPI.csproj.user
/SOURCECODE/WebApp/TVGlobo.ArquiteturaBase.WebApp.csproj.user
*.map
/SOURCECODE/.vs
/SOURCECODE/.vs/TVGlobo.ArquiteturaBase/v15/.suo
/SOURCECODE/packages

/SOURCECODE/.sonarqube
*.dll

*.pdb

/SOURCECODE/WebApp/src/App/**/*.js

*.ide

# To not ignore
!/SOURCECODE/TypeScript/**/*
!/SOURCECODE/WebApp/Content/**/*
!/SOURCECODE/WebApp/css/**/*
!/SOURCECODE/WebApp/js/**/*
!/SOURCECODE/WebApp/Scripts/**/*
!/SOURCECODE/WebApp/src/Scripts/**/*
/SOURCECODE/TVGlobo.Arquitetura.Entities/bin
/SOURCECODE/TVGlobo.Arquitetura.Entities/obj/Release
/SOURCECODE/TVGlobo.STAR.Repositories/bin/Release
/SOURCECODE/TVGlobo.STAR.Repositories/obj/Release
/SOURCECODE/TVGlobo.STAR.Services/obj/Release
/SOURCECODE/TVGlobo.STAR.Services/bin/Release
/SOURCECODE/Utilitarios
/SOURCECODE/WebAPI
/SOURCECODE/WebApp/obj/Release
/SOURCECODE/TVGlobo.STAR.Repositories/obj/Debug/build.force
/SOURCECODE/TVGlobo.STAR.Services/obj/Debug/build.force

SOURCECODE/WebApp/src/\.nyc_output/

